<div class="post new_comment">
  <div class="header"></div>
  
  <div id="comment_errors"></div>
  <div id="comment_notice"></div>

  <% remote_form_for [@post, Comment.new] do |f| %>
    <p>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.text_area(:message, :rows => 5) %>
    </p>
    <p class="submit">
      <%= f.submit "Add Comment" %>
    </p>
  <% end %>
</div>